# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

# enable USB DFU per default

config USB_DEVICE_DFU_PID
    default 0x1B1E

config USB_DFU_WILL_DETACH
    default y

config USB_DFU_CLASS
    default y
    
config USB_DFU_PERMANENT_DOWNLOAD
    default y

config USB_DFU_ENABLE_UPLOAD
    default y

config FLASH
    default y

config FLASH_MAP
    default y

config STREAM_FLASH
    default y

config IMG_MANAGER
    default y

config FLASH_PAGE_LAYOUT
    default y

if !MCUBOOT
    config USB_DFU_REBOOT
        default y
endif # !MCUBOOT