# Copyright (c) 2024 Frickly Systems GmbH
# SPDX-License-Identifier: Apache-2.0

# ARDEP board configuration

if BOARD_ARDEP

config BOARD
	default "ardep"

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

config CAN_TERMINATION_GPIO
	default y if CAN

# adc 1 and 2 use the same, but the other use diffent interrupts
# shared interrupts currently seem to be broken for a mixed of shared
# and non-shared interrupts
config ADC_STM32_SHARED_IRQS
	default n

config CAN_MAX_FILTER
	default 8

rsource "Kconfig.usb"
rsource "Kconfig.usb_dfu"

if !MCUBOOT
	# enable building for image slots
	config BOOTLOADER_MCUBOOT
		default y
	config FLASH_MAP
		default y

	rsource "Kconfig.uds"

	config MCUBOOT_SIGNATURE_KEY_FILE
		default "bootloader/mcuboot/root-rsa-2048.pem"
endif # !MCUBOOT

endif # BOARD_ARDEP
