# Copyright (c) 2024 Frickly Systems GmbH
# SPDX-License-Identifier: Apache-2.0

# enable UDS module per default

config UDS
 	default y
config CAN
	default y
config ISOTP
	default y

config FLASH
    default y

config STREAM_FLASH
    default y

config IMG_MANAGER
    default y

config IMG_ERASE_PROGRESSIVELY
    default y

config REBOOT
    default y
