# editors
.vscode
*.swp
*~

# python
.venv

# build
/build*
/twister-out*

__pycache__/
.mypy_cache/

# documentation build output
doc/_build/
doc/boards/
doc/samples/
doc/scripts/
doc/lib/

# clangd cache
.cache
