# Copyright (c) 2024 Frickly Systems GmbH
# SPDX-License-Identifier: Apache-2.0

if LIN
menu "LIN Drivers"
menuconfig ABSTRACT_LIN
  bool "Enable Abstract LIN Driver"

if ABSTRACT_LIN
rsource "abstract_lin/Kconfig"
endif

endmenu
endif
