# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

menu "CAN Drivers"
  menuconfig LIN2CAN
    depends on CAN
    depends on ABSTRACT_LIN
    bool "Enable LIN2CAN Driver"

  if LIN2CAN
    rsource "lin2can/Kconfig"
  endif

endmenu
