

fdcan1: &can0 {
    status = "okay";
    bus-speed = <500000>;
};

/ {
    fdcan2: can2 {
        status = "okay";
        compatible = "zephyr,native-posix-linux-can";
        host-interface = "zcan0";
        sample-point = <875>;
        bus-speed = <500000>;
    };
};
