# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

menu "ARDEP"

    rsource "can_router/Kconfig"
    rsource "iso14229/Kconfig"
    rsource "uds/Kconfig"
    rsource "uds_legacy/Kconfig"
    rsource "can_log/Kconfig"
endmenu
