/*
 * SPDX-FileCopyrightText: Copyright (C) 2025 Frickly Systems GmbH
 * SPDX-FileCopyrightText: Copyright (C) 2025 MBition GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
      zephyr,code-partition = &slot1_partition;
      zephyr,console = &uart_a;
      zephyr,shell-uart = &uart_a;
  };
};
