# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

# enable UDS module per default

config UDS
    default y

# Provide UDS Address via gearshift address providers
# Only enable if UDS is really enabled
if UDS
    config GEARSHIFT_UDS_ADDRESS_PROVIDER
        default y
endif # UDS

choice STD_C
    default STD_C17 # requirement for external iso14229 module
endchoice

config CAN
    default y
