# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

# lower log level of usb device stack to reduce log spam
choice USBD_LOG_LEVEL_CHOICE
  default USBD_LOG_LEVEL_ERR
endchoice

choice UDC_DRIVER_LOG_LEVEL_CHOICE
  default UDC_DRIVER_LOG_LEVEL_ERR
endchoice

choice USBD_CDC_ACM_LOG_LEVEL_CHOICE
  default USBD_CDC_ACM_LOG_LEVEL_OFF
endchoice
