# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

# ARDEP board configuration

if BOARD_ARDEP

config BOARD
	default "ardep"

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

config CAN_MAX_FILTER
	default 8
		
rsource "Kconfig.usb"

# These options are only relevant if we don't build MCUBOOT.
# We need this as we don't always build with sysbuild which sets these automatically
if !MCUBOOT
	# enable building for image slots
	config BOOTLOADER_MCUBOOT
		default y
	config FLASH_MAP
		default y

	rsource "Kconfig.uds"

	config MCUBOOT_GENERATE_UNSIGNED_IMAGE
		default y
endif # !MCUBOOT

config RETAINED_MEM
	default y

config RETENTION
	default y

config RETENTION_BOOT_MODE
	default y

endif # BOARD_ARDEP
