# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

# ARDEP board configuration

if BOARD_ARDEP

config BOARD
	default "ardep"

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

config CAN_MAX_FILTER
	default 8
		
rsource "Kconfig.usb"

if !MCUBOOT
	# enable building for image slots
	config BOOTLOADER_MCUBOOT
		default y
	config FLASH_MAP
		default y

	rsource "Kconfig.uds"

	config MCUBOOT_SIGNATURE_KEY_FILE
		default "bootloader/mcuboot/root-rsa-2048.pem"
endif # !MCUBOOT

endif # BOARD_ARDEP
