# config ZEPHYR_TRUSTED_FIRMWARE_A_MODULE

config MODULE_ISO14229_EXTERNAL
  bool "ISO14229 Library"
  depends on CAN
	depends on STD_C11 || STD_C17 || STD_C23

if MODULE_ISO14229_EXTERNAL

  module = MODULE_ISO14229_EXTERNAL
  module-str = External ISO14229 Library
  source "subsys/logging/Kconfig.template.log_config"

endif
