# Copyright (c) 2024 Frickly Systems GmbH
# SPDX-License-Identifier: Apache-2.0

module = CAN_ROUTER
module-str = CAN Router
source "subsys/logging/Kconfig.template.log_config"

config CAN_ROUTER_INIT_PRIORITY
  int
  prompt "CAN Router Init priority"
  default APPLICATION_INIT_PRIORITY
  depends on CAN_ROUTER
