/*
 * SPDX-FileCopyrightText: Copyright (C) Frickly Systems GmbH
 * SPDX-FileCopyrightText: Copyright (C) MBition GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    zephyr,user {
        io-channels = <&adc2 2>,
                      <&adc2 4>,
                      <&adc3 12>,
                      <&adc3 5>,
                      <&adc4 4>,
                      <&adc4 3>;
    };
};
