# Copyright (C) Frickly Systems GmbH
# Copyright (C) MBition GmbH
#
# SPDX-License-Identifier: Apache-2.0

menuconfig UDS_MINIMAL
    bool "UDS Minimal support"
    depends on ISO14229_LIB
    
if UDS_MINIMAL

module = UDS_MINIMAL
module-str = UDS minimal
source "subsys/logging/Kconfig.template.log_config"

endif # UDS_MINIMAL